*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-size: 62.5%;
    // background-color: #f6f6f6;

    // @include respond(tab-land) {
    //     font-size: 56.25%;
    // }

    // @include respond(tab-port) {
    //     font-size: 50%;
    // }
    // @include respond(big-desktop) {
    //     font-size: 75%;
    // }
}

body {
    box-sizing: border-box;
    background-color: #f6f6f6;
}

a {
    color: $color-tertiary-light;
    text-decoration: none;
    outline: none;
}

::selection {
    background-color: rgba($color-tertiary-light, 0.6);
    color: $color-white;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba($color-tertiary-light, .3); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($color-tertiary-light, .5); 
}


.loading-icon {
    @include absCenter;
}
