*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
}

body {
    box-sizing: border-box;
    background-color: #f6f6f6;
}

a {
    // color: $color-tertiary-light;
    text-decoration: none;
    outline: none;
}

::selection {
    background-color: rgba($color-tertiary-dark, 0.6);
    color: $color-white;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba($color-tertiary-light, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($color-tertiary-light, 0.5);
}

.loading-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.container {
}


