body{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        line-height: 1.7;
        color: $color-grey-dark;
        font-size: 1rem;
}

.heading-primary{

        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .1rem;
        text-align: center;

        &--header{
                color: $color-grey-light-1;
        }
        &--main{
                letter-spacing: .5rem;
        }
        &--sub{
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: .1rem;
        }
        @include respond(tab-port){
                font-size: 2rem;
        }
        @include respond(phone){
                font-size: 1.5rem;
        }
}

.heading-secondary {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .1rem;
        transition: all 0.2s;
        @include respond(tab-port) {
                font-size: 1.5rem;
        }
        @include respond(phone) {
                font-size: 1.2rem;
        }
}

.heading-tertiary {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        @include respond(tab-port){
                font-size: 1.2rem;
        }
        @include respond(phone){
                font-size: 2rem;
        }
}
.heading-quadnary {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
}


.paragraph {
        font-size: $default-font-size;
        
        margin-bottom: 3rem;
        &:last-child {
                margin-bottom: 0;
        }
}



.icon--normal {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}
