.profile {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: auto 1fr;
    justify-content: center;
    align-items: start;

    &__user {
        margin: 0 auto;
        &--name {
            font-weight: 300;
            font-size: 1.7rem;
            margin-bottom: 0;
            text-align: center;
        }

        &--email {
            text-align: center;
        }
    }
    &__photo {
        margin: 0 auto;
        margin-bottom: 1rem;
        overflow: hidden;
        height: 12rem;
        width: 12rem;
        position: relative;
        border: 5px solid white;
        border-radius: 50%;
        img {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: center;
        align-items: center;
    }

    &__doctor {
    }

    &__head {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 0;
        grid-template-columns: auto 1fr;
        padding: 2rem;

        border-bottom: 1px solid
            linear-gradient(
                to right,
                $color-tertiary-dark,
                $color-tertiary-light
            );
    }

    &__line {
        height: 10px;
        background: linear-gradient(
            to right,
            transparent,
            $color-tertiary-light,
            transparent
        );
        width: 100%;
        &--small {
            height: 5px;
        }
    }

    &__title {
        padding: 1rem 2rem;
    }

    &__about {
        padding: 3rem;
        font-size: 2rem;
    }

    &__info {
        margin-top: 3rem;
        padding: 1rem;
        &__item {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;
            grid-gap: 2rem;
            font-size: 2rem;

            .name {
                text-align: right;
                border-right: 2px solid $color-tertiary-light;
                padding: 1rem 2rem;
                height: 100%;
            }
            .value {
                padding: 1rem 0rem;
            }
        }
    }
}

.heading-user {
    background-image: linear-gradient(
        to right,
        $color-tertiary-light,
        $color-tertiary-lightest
    );
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 400;
    &--main {
    }
    &--sub {
        font-size: 2.5rem;
        font-weight: 300;
        color: white;
    }
}
