.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.3rem 1rem;
        border-radius: 3px;
        outline: none;
        border: none;
        color: $color-white;
        transition: all 0.3s;
        font-size: 1.3rem;
        font-weight: 300;
        display: block;
        margin: 0;
        background-color: $color-primary;
        box-shadow: 0 0 1rem transparent;

        &:hover,
        &:active {
            color: white;
            box-shadow: 0 0 1rem rgba($color-grey-dark-2, 0.5);
        }

        &:active {
            background-color: $color-primary;
            color: $color-white;
        }
    }
    &--small {
        font-size: 0.9rem;
        padding: 0.3rem 0.5rem;
    }
    &--default {
        &,
        &:link,
        &:visited {
            background-color: $color-white;
            color: $color-tertiary-dark;
            border: 2px solid $color-tertiary-dark;
            &:hover {
                background-color: $color-tertiary-dark;
                color: $color-white;
                box-shadow: 0 0 0.5rem rgba($color-grey-dark-2, 0.5);
            }
            &:active {
                background-color: $color-white;
                color: $color-tertiary-dark;
                border: 2px solid $color-tertiary-dark;
            }
        }
    }
    &--danger {
        &,
        &:link,
        &:visited {
            color: $color-secondary-dark;
            background-color: $color-white;
            border: 2px solid $color-secondary-dark;

            &:hover {
                background-color: $color-secondary-dark;
                color: $color-white;
                box-shadow: 0 0 1rem rgba($color-grey-dark-2, 0.5);
            }
            &:active {
                color: $color-secondary-dark;
                background-color: $color-white;
                border: 2px solid $color-secondary-dark;
            }
        }
    }

    &--disabled {
        &,
        &:link,
        &:visited {
            background-color: $color-white;
            color: $color-grey-light-3;
            border: 2px solid $color-grey-light-3;
            &:active,
            &:hover {
                background-color: $color-white;
                color: $color-grey-light-3;
                border: 2px solid $color-grey-light-3;
            }
        }
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 .5rem;
}

.upload-btn-wrapper input[type='file'] {
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
