.btn {
    &,
    &:link,
    &:visited {
        font-size: 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.3rem 1rem;
        border-radius: 3px;
        outline: none;
        border: none;
        color: $color-white;
        transition: all 0.3s;
        font-size: 1.3rem;
        font-weight: 300;
        display: block;
        margin: 0 auto;
        background-color: $color-primary;
        box-shadow: 0 0 1rem transparent;

        &:hover {
            color: white;
            box-shadow: 0 0 1rem rgba($color-grey-dark-2, 0.5);
        }
    }

    &--default {
        &,
        &:link,
        &:visited {
            background-color: $color-grey-light-1;
            color: $color-tertiary-dark;
            &:hover {
                color: $color-tertiary-dark;
                box-shadow: 0 0 1rem rgba($color-grey-dark-2, 0.5);
            }
        }
    }

    &--danger {
        &,
        &:link,
        &:visited {
            color: $color-secondary-dark;
            background-color: $color-white;

            &:hover {
                background-color: $color-secondary-dark;
                color: $color-white;
                box-shadow: 0 0 1rem rgba($color-grey-dark-2, 0.5);
            }
        }
    }
}
