.chat {
    display: flex;
}

.chat__main {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    border: 2px solid $color-grey-light-3;
    margin-top: .5rem;
}

.chat__messages {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.chat__footer {
    background: #e6eaee;
    display: flex;
    padding: 10px;
    /*height: 60px;*/
    flex-shrink: 0;

    form {
        margin-bottom: 0;
    }
}

.chat__footer form {
    flex-grow: 1;
    display: flex;
}

.chat__footer form * {
    margin-right: 10px;
}

.chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1;
}

.chat__messages {
    list-style-type: none;
    padding: 10px;
}

.clear{
    clear: both;
}


.chat-message {
    padding: .3rem;
    background-color: rgba($color-tertiary-light, 1);
    color: white;
    margin: .5rem auto;
    padding: .4rem 1rem .3rem 1rem;
    border-radius: 1.5rem;
    float: right;
    position: relative;
    display: inline-block;
    max-inline-size: 70%;

    &__time {
        // background-color: orangered;
        position: absolute;
        left: -3rem;
        color: $color-grey-light-3;
        font-weight: 700;


        &--self {
            
            left: 0;
            text-align: right;
            right: -3rem;
        }
    }

    &--self {
        background-color: rgba($color-grey-light-3, .5);
        color: $color-grey-dark-3;
        float: left
    }

}


@media (max-width: 600px) {
    * {
        font-size: 1rem;
    }

    .chat__sidebar {
        display: none;
    }

    .chat__footer {
        flex-direction: column;
    }

    .chat__footer form {
        margin-bottom: 10px;
    }

    .chat__footer button {
        margin-right: 0px;
    }
}
