.form {
    transition: all 0.2s;
    margin: 0 auto 2rem auto;
    padding: 0 1.5rem;

    p {
        margin-bottom: 2rem;
    }

    &__error {
        display: block;
        padding: 1rem 1rem;
        border-radius: 10px;
        text-align: center;
        width: 100%;
        margin: 0 auto 2rem auto;
        border: 2px solid $color-error-red;
        background: rgba($color-error-red, 0.05);

        &--title {
            font-size: 2rem;
            width: 100%;
            text-align: center;
            display: block;
            color: $color-error-red;
        }

        &--text {
            font-size: 1rem;
            color: $color-error-red;
        }
    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
    }
    &__group:not(:last-child) {
        margin-bottom: 0.8rem;
    }
    &__group {
        display: grid;
        grid-template-rows: auto auto 1fr;
        align-items: start;
    }
    .errorlist {
        font-size: 0.7rem;
        color: $color-secondary-dark;
    }

    &__description {
        rows: 10;
    }

    &__input,
    input,
    select,
    textarea {
        font-size: 0.9rem;
        font-weight: 300;
        padding: 0.5rem 1rem;
        font-family: inherit;
        border-radius: 2px;
        background-color: rgba($color-white, 1);
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        align-items: center;
        transition: all 0.3s ease;
        border-bottom: 2px solid transparent;

        &:focus {
            outline: none;
            border-bottom: 2px solid $color-tertiary-light;
        }

        &:focus:invalid {
            border-bottom: 2px solid rgba($color-error-red, 1);
            background: rgba($color-error-red, 0.05);
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    select {
        padding: 1rem 1.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .select__items {
        position: absolute;
        background-color: red;
        padding: 1rem;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    &__label,
    label {
        font-weight: 300;
        margin: 0.7rem 0 0.2rem 0;
        display: block;
        transition: all 0.3s;
        color: $color-grey-dark;
    }

    ul,
    .helptext {
        font-size: 1.2rem;
        color: $color-grey-dark-4;
        margin: 0 0 0 3.5rem;
        text-align: left;
        width: 80%;
        display: inline-block;
    }

}

.patient-stats {
    margin-top: 2rem;
    &__data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
}

// query Form

// layout
